<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!-- TODO: Adjust server_name and the_password to match your setup -->
    <add name="main" connectionString="Server=server_name;Database=usage_log;UID=usage_log;Password=the_password;SslMode=None;"/>
  </connectionStrings>
</configuration>